/* App.css */
.trigger {
  padding: 0 14px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.sider-adjusted {
    position: relative;
    left: -10rem;
}
.new_sider{
  position: relative;
  left: -17rem;
}
.trigger:hover {
  color: #1890ff;
}

.site-layout-background {
  background: #fff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
/* for the carousel page*/
.slider-page{
    @media screen and (min-width: 900px){
        width:50rem !important;
        height: 45rem !important;
    }
}

/* YourComponent.css */
.carousel-container {
  width: 90rem; /* Ensure it uses 100% of the available width */
  margin: 0 auto;
  overflow: hidden; /* Prevent overflow */
  margin-right: '5rem';
}

.carousel-container .slick-slide {
  text-align: center;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.carousel-container .slick-slide h3 {
  color: #fff;
}

.custom-dropdown-button {
  border: 2px solid #007bff; /* Custom border */
  color: #007bff; /* Custom text color */
  background-color: #fff; /* Custom background */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding */
  font-size: 1rem; /* Font size */
}

.custom-dropdown-menu {
  border: 1px solid #007bff; /* Border for dropdown menu */
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.suggestions-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  background: #fff;
  position: absolute;
  width: calc(100% - 2px);
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

.filters {
  margin-bottom: 10px;
}

.results {
  display: flex;
  flex-direction: column;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.result-item:last-child {
  border-bottom: none;
}
